.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,60,96);
}

.femc .navbar { /*TO FIX*/
    background-color: pink;
}

.navbar .logo img {
    width: 10rem;
    position: relative;
    padding: 1rem;
}

.navbar .toggle {
    font-size: 1.5rem;
    padding: 1rem;
    color: rgba(255,195,71,1);
}

.navbar .closeButton {
    background-color: crimson;
    color: white;
    border-color: black;
    margin-right: 20px;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.navbar .toggle input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.5);
  margin: 10px;
  cursor: pointer;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(36,149,255,1);
    overflow-y: auto;
    overflow-x: hidden;
}

.femc{
    background-color: red;
}

.card {
    background-color: #6cb1ff;
    color: rgb(2,97,189);
}

.femc .card { /*TO FIX*/
    background-color: lightcoral;
}

.card p strong {
    color: rgb(29,91,130);
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: 750;
}

* .card:hover {
    scale: 1.05;
}

* .card:active{
    scale: .95;
}

* .card, .columns {
    margin: 10px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.sLinkPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.sLinkPage {
    padding: 20px;
}

.sLinkPage .box {
    background-color: rgb(108,177,255);
    color: black;
    border-radius: 10px;
}

.rankNumber {
    text-align: center;
}